DB_SERVER=travel-planner-sql-brian.database.windows.net
DB_USER=sqladmin
DB_PASSWORD=@anAn20000
DB_NAME=TravelPlannerDB
DB_PORT=1433

PORT=5000
NODE_ENV=development

ALLOWED_ORIGIN=http://localhost:3000
